<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Example - {{ sources.title }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="app"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" id="node">
        let sources = {{ sources|json_encode()|raw }};
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
